body {
    background-image: url("https://wallpaperaccess.com/full/5698773.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial;
    text-align: center;
    color: white;
}
